//========================== Colores ========================== 
$naranja: #ff7a00;
$brown: #433520;
$verde: #7cbd1e;
$gris: #393e46;
$azul: #a4ebf3;
$blanco: #ffffff;

//========================== Variables de las fuentes ========================== 
$fuentePrincipal: 'Roboto Condensed', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

//========================== Media Querie ==========================
$smartphone: 480px;
$tablet: 768px;
$desktop: 1200px;

//========================== espaciado ==========================
$separacion: 5rem;