.footer{
    background-color: $naranja;
    color: $blanco;
    h2{text-transform: uppercase; color: $blanco;}
}
.footer-contenido{
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    padding-top: $separacion / 4;
    @include tablet{
        flex-direction: row;
        gap: $separacion * 3;
    }
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: $separacion / 3;
    img{width: 10rem;}
}
.contacto{
    display: flex;
    flex-direction: column;
    a{color: $blanco;}
    .email, .ubicacion{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
.sobreNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{color: $blanco;}
}
.redesSociales-iconos{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: $separacion / 3;
}